.App {
  background-color: powderblue;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}
.secondary{
  display: flex;
  justify-content: flex-start;
}
.input{
  border: 2px black;
  padding: 4px;
  margin: 5px;
  border-radius: 3px;
}
.btn{
  border-radius: 5px;
  color: white;
  border: 0px;
  background-color: deepskyblue;
}
.urlLen{
  width: 300px;
}